In [1]:
%load_ext sql

In [28]:
%sql mysql+pymysql://root:easwari@localhost

## GENERATE ALPHABET SEQUENCE FROM [A TO F] USING RECURSIVE CTE

In [30]:
%%sql
select ascii('A');

 * mysql+pymysql://root:***@localhost
   postgresql://postgres:***@localhost:5432/
1 rows affected.

[(65,)]

In [58]:
%%sql
select char(ascii('A'));

 * mysql+pymysql://root:***@localhost
   postgresql://postgres:***@localhost:5432/
1 rows affected.

[(b'A',)]

In [50]:
%%sql
with recursive alphabet_sequence as
(
select 'A' as "letter"
union all
select CHAR(ASCII(letter)+1) as "letter"
from alphabet_sequence
where letter < 'F'
)
select * from alphabet_sequence;

 * mysql+pymysql://root:***@localhost
   postgresql://postgres:***@localhost:5432/
6 rows affected.

[('A',), ('B',), ('C',), ('D',), ('E',), ('F',)]