In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:easwari@localhost

In [3]:
%%sql
use functions;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [4]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost
2 rows affected.

[('products',), ('products2',)]

In [9]:
%%sql
select * from products;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[(1, 'Laptop', Decimal('1000.00')),
 (2, 'Smartphone', Decimal('600.00')),
 (3, 'Tablet', Decimal('300.00')),
 (4, 'Headphones', Decimal('50.00')),
 (5, 'Monitor', Decimal('150.00'))]

--> create a stored function to calculate discount price for each products

--> NOTE: unlike stored procedures we can call functions along with select statements

--> also we can call the function in any database we are working

In [11]:
%%sql

CREATE FUNCTION discount(p_price DOUBLE, p_discount_percentage DOUBLE)
RETURNS DOUBLE
BEGIN
    DECLARE discount_price DOUBLE;
    SET discount_price = p_price - (p_price * (p_discount_percentage / 100));
    RETURN discount_price;
END;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [14]:
%%sql
select product_name, price, 
discount(price, 20.0) as discount_price
from products;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('Laptop', Decimal('1000.00'), 800.0),
 ('Smartphone', Decimal('600.00'), 480.0),
 ('Tablet', Decimal('300.00'), 240.0),
 ('Headphones', Decimal('50.00'), 40.0),
 ('Monitor', Decimal('150.00'), 120.0)]

--> lets how the discout_price is calculated

--> (p_price - (p_price * (discount_percentage / 100)))

--> where p_price is 1000,600,300,50,150

--> and discount_percentage = 20

In [15]:
1000 - (1000*(20/100))

800.0

In [17]:
(600 - (600*(20/100)))

480.0

In [18]:
(300 - (300*(20/100)))

240.0

In [19]:
(50 - (50*(20/100)))

40.0

In [20]:
(150 - (150*(20/100)))

120.0